.searchBar {
  width: 40%;
  height: 30px;
  padding: 10px;

  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  border: 1px solid rgb(208, 217, 218);

  .searchIcon {
    height: 60%;
  }
  .input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 150%;
  }
}
