.dashboard {
  padding: 0 10%;

  .header {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-weight: 500;
      font-size: 18px;
    }

    .search {
      width: 30px;
      height: 500px;
    }
  }
}
