.loginContainer {
  width: 100%;
  height: max-content;
  .navBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: rgb(245, 247, 247);

    .logo {
      font-weight: bold;
      font-size: 25px;
    }

    .loggedOut {
      width: 120px;
      height: 50px;
      border-radius: 10px;
      background-color: rgb(55, 112, 255);
      color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
    }

    .profile {
      display: flex;
      align-items: center;
      gap: 10px;
      .image {
        border: 1px solid rgb(173, 167, 167);
        border-radius: 50%;
        overflow: hidden;
        width: 35px;
        height: 35px;

        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 35px;
          height: 35px;
          // border-radius: 50%;
        }
      }
      .userKey {
        width: 100px;
        font-size: 18px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .signupModal {
    width: 600px;
    height: 75vh;
    display: flex;
    flex-direction: column;

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 20px;

      flex: 1;
      width: 100%;
      .roles {
        display: flex;
        align-items: center;
        gap: 20px;

        div {
          width: calc(50% - 10px);
          display: flex;
          gap: 10px;
          justify-content: start;
          align-items: center;
          padding: 10px;
          cursor: pointer;

          svg {
            width: 30px;
            height: 30px;
          }
          p {
            font-weight: 16px;
            font-weight: 500;
          }
        }
        .selected {
          border: 2px solid aqua;
          border-radius: 10px;
        }
      }

      h4 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .textInput {
        width: 95%;
        height: 30px;
        padding: 10px;

        border-radius: 10px;
        border: 1px solid rgb(208, 217, 218);

        outline: none;
        font-size: 130%;
      }
    }
    .create {
      width: 80%;
      height: 50px;
      border-radius: 10px;
      background-color: rgb(55, 112, 255);
      color: white;
      margin: 5px auto 0 auto;

      font-size: 22px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
    }
  }
}
